<div id="features">
  <h2 class="text-center enter">
    {{ dp__('theme', 'heading', 'Coolest Features') }}
  </h2>

  <div class="grid gap-6 mt-6 sm:grid-cols-2 md:gap-12 lg:grid-cols-3 lg:mt-10">
    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-code"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'High Quality Code') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Developed by Using Domain-Driven Design and Onion Architecture Principles.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-sparkles"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Modern Technologies') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Built with modern technologies for best structure and get maximum performance.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-click"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Friendly UI and UX') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Enjoy a hassle-free and intuitive user interface that enhances your digital experience.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-moon"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Dark Mode') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Turn off the light and switch to dark mode your interface with one click.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-file-description"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Documentation') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'An all-inclusive learning package seamlessly integrated into our community.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-credit-card"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Payment Gateways') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Simplify transactions and boost security with payment gateway solutions.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-cpu-2"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'AI Generator') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Unlock limitless creativity with our AI-powered content generator.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-database-search"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'SEO Friendly') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Boost your visibility and reach your audience effectively with AI generated content.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-layout-grid"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Advanced Dashboard') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Empower your insights and control with our cutting-edge dashboard.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-layout-dashboard"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Custom Templates') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Transform your content creation with AI-driven custom templates.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-brand-facebook"></i>
      </span>


      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Login via SM Accounts') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Use Facebook or Google accounts as an alternatively access to platform.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-headset"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'High Quality Support')  }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Our support team is available 24/7 to help you with any questions or concerns.') }}
      </p>
    </div>
  </div>
</div>