{% from '@theme/macros/human-readable.twig' import human_readable %}
<div x-data="pricing" id="pricing">
  <div class="text-center">
    <h2>{{ dp__('theme', 'heading', 'Pricing') }}</h2>

    <p class="max-w-md mx-auto mt-6">
      {{ d__('theme', 'Discover the perfect plan to suit your needs and unlock a world of possibilities.')  }}
    </p>
  </div>

  <div class="flex justify-center mt-8">
    <div class="rounded-full bg-line-tertiary p-0.5 flex items-center gap-1"
      x-ref="cycles">
      {% if plans|filter(p => p.billing_cycle == 'monthly')|length > 0 %}
      <button type="button" class="px-6 py-3 text-sm font-medium rounded-full"
        data-cycle="monthly" :class="{
          'bg-contrast-primary': cycle=='monthly',
          'shadow': cycle=='monthly'
        }"
        @click="cycle='monthly'">{{ dp__('theme', 'button', 'Monthly') }}</button>
      {% endif %}

      {% if plans|filter(p => p.billing_cycle == 'yearly')|length > 0 %}
      <button type="button" class="px-6 py-3 text-sm font-medium rounded-full"
        data-cycle="yearly" :class="{
          'bg-contrast-primary': cycle=='yearly',
          'shadow': cycle=='yearly'
        }"
        @click="cycle='yearly'">{{ dp__('theme', 'button', 'Yearly') }}</button>
      {% endif %}

      {% if plans|filter(p => p.billing_cycle == 'one-time')|length > 0 %}
      <button type="button" class="px-6 py-3 text-sm font-medium rounded-full"
        data-cycle="one-time" :class="{
          'bg-contrast-primary': cycle=='one-time',
          'shadow': cycle=='one-time'
        }"
        @click="cycle='one-time'">{{ dp__('theme', 'button', 'Packs') }}</button>
      {% endif %}
    </div>
  </div>

  <div class="grid gap-12 mt-8 lg:mt-16 lg:grid-cols-2 xl:grid-cols-3" x-cloak>
    {% for plan in plans %}
    <div
      class="enter p-[10px] rounded-4xl bg-contrast-secondary flex {% if plan.is_featured %}bg-gradient-to-br from-[#E7FF9B] to-[#CFE6FF]{% endif %}"
      x-show="`{{ plan.billing_cycle }}` == cycle">
      <div class="w-full p-8 bg-contrast-primary rounded-3xl">
        <div class="flex items-center justify-between">
          {% if plan.icon %}
          <div
            class="flex items-center justify-center w-12 h-12 rounded-full shadow-md [&_svg]:w-8 [&_svg]:h-8">
            {% if plan.icon starts with '<svg'  %}
            {{ plan.icon | raw }}
            {% else %}
            <i class="ti ti-{{ plan.icon }} text-3xl"></i>
            {% endif %}
          </div>
          {% endif %}

          {% if plan.is_featured %}
          <div class="relative">
            <div
              class="absolute top-1 left-1 w-full h-full rounded-lg bg-[#E7FF9B] flex bg-gradient-to-br from-[#E7FF9B] to-[#CFE6FF]">
            </div>

            <div
              class="p-0.5 rounded-lg bg-[#E7FF9B] flex bg-gradient-to-br from-[#E7FF9B] to-[#CFE6FF] font-bold relative text-accent">
              <span class="bg-[#E7FF9B] rounded-md py-1 px-2">
                {{ d__('theme', 'Most Popular') }}
              </span>
            </div>

          </div>
          {% endif %}
        </div>

        <h3 class="mt-6">{{ plan.title }}</h3>

        {% if plan.description is not empty %}
        <p class="text-tertiary">{{ plan.description }}</p>
        {% endif %}

        <div class="mt-8">
          {% set price = plan.price / 10 ** currency.fraction_digits %}
          <span
            class="text-4xl font-bold">{{ price | format_currency(currency.code, {max_fraction_digit:currency.fraction_digits, fraction_digit:0}) }}</span>
          <span class="text-tertiary">/{{ plan.billing_cycle }}</span>
        </div>

        <a href="/app/billing/checkout/{{ plan.id }}" class="flex mt-8 button">
          {{ dp__('theme', 'button', 'Get started') }}
        </a>

        <ul class="flex flex-col gap-4 mt-12">
          <li class="flex items-center gap-2 font-semibold">
            {% if plan.token_credit == 0 and plan.token_credit is not null %}
            <i class="text-2xl ti ti-square-rounded-x text-tertiary"></i>
            {{ d__('theme', 'Access to templates is disabled') }}
            {% else %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Access to all templates') }}
            {% endif %}
          </li>

          <li class="flex items-center gap-2 font-semibold">
            {% if plan.token_credit is null %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Unlimited tokens') }}
            {% elseif plan.token_credit == 0 %}
            <i class="text-2xl ti ti-square-rounded-x text-tertiary"></i>
            <span class="text-tertiary">
              {{ d__('theme', 'No token credits')  }}
            </span>
            {% else %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>

            {{ d__('theme', '%s tokens', human_readable(plan.token_credit))| raw }}
            {% endif %}
          </li>

          <li class="flex items-center gap-2 font-semibold">
            {% if plan.image_credit is null %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Unlimited images') }}
            {% elseif plan.image_credit == 0 %}
            <i class="text-2xl ti ti-square-rounded-x text-tertiary"></i>
            <span class="text-tertiary">
              {{ d__('theme', 'No image credit') }}
            </span>
            {% else %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>

            {{ d__('theme', '%s images', human_readable(plan.image_credit))| raw }}
            {% endif %}
          </li>

          <li class="flex items-center gap-2 font-semibold">
            {% if plan.audio_credit is null %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Unlimited audio seconds') }}
            {% elseif plan.audio_credit == 0 %}
            <i class="text-2xl ti ti-square-rounded-x text-tertiary"></i>
            <span class="text-tertiary">
              {{ d__('theme', 'No audio credit') }}
            </span>
            {% else %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>

            {{ d__('theme', '%s audio seconds', human_readable(plan.audio_credit))| raw }}
            {% endif %}
          </li>

          <li class="flex items-center gap-2 font-semibold">
            {% if plan.price > 0  %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Priority support')  }}
            {% else %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {{ d__('theme', 'Basic support')  }}
            {% endif %}
          </li>

          {% for li in plan.feature_list %}
          <li class="flex items-center gap-2 font-semibold">
            {% if li.is_included %}
            <i class="text-2xl ti ti-square-rounded-check-filled"></i>
            {% else %}
            <i class="text-2xl ti ti-square-rounded-x text-tertiary"></i>
            {% endif %}

            {{ li.title  }}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>