<div>
  <h2 class="text-center enter">
    {{ dp__('theme', 'heading', 'How it works') }}
  </h2>

  <div class="grid gap-6 mt-6 md:gap-12 lg:mt-10 lg:grid-cols-3">
    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-click"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Choose Template') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Choose a our built in templates or create your own.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-list-details"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Describe') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Enter a few sentences to describe your topic. Add keywords to specify for your brand.') }}
      </p>
    </div>

    <div class="p-8 wrapper enter3">
      <span class="icon shadow-right">
        <i class="ti ti-loader-3"></i>
      </span>

      <h3 class="mt-10 lg:text-2xl">
        {{ dp__('theme', 'heading', 'Generate') }}
      </h3>
      <p class="mt-4 font-medium md:text-lg">
        {{ d__('theme', 'Click the "Generate" button and get a variety of high-converting copy every time.') }}
      </p>
    </div>
  </div>
</div>